@page "/inboxpage"

@using BlazorApp1.Services
@using BlazorApp1.Models
@using BlazorApp1.Database
@inject SessionService session
@inject NavigationManager navigation
@inject InboxService inboxService

<div class="card-deck">
    @foreach(var message in Inboxes)
    {
        <div class="card m-3" style="min-width: 18rem; max-width:30.5%;">
            <div class="card-header">
               @message.message
            </div>
        </div>
    }
</div>



@code {
    private List<Inbox> Inboxes = new List<Inbox>();

    protected override async void OnAfterRender(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
    }

    protected async override Task OnInitializedAsync()
    {
        Inboxes = (await inboxService.GetInboxs()).ToList();
    }


}
