@using BlazorApp1.Services
@inject SessionService Session

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">VarnaPrireditev</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">  
        <li class="nav-item px-3 font-weight-bold">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Domov
            </NavLink>
        </li>
        @if(Session.SessionName == "Tim")
        {
        <li class="nav-item px-3 font-italic">
            <NavLink class="nav-link" href="EditFormAdmin">
                <span class="oi oi-home" aria-hidden="true"></span> Pregled vlog
            </NavLink>
        </li>
        <li class="nav-item px-3 font-italic">
            <NavLink class="nav-link" href="EditFormCardAdmin" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Pregled vlog kartice
            </NavLink>
        </li>
        <li class="nav-item px-3 font-italic">
            <NavLink class="nav-link" href="SurveyListAdmin" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Pregled anket
            </NavLink>
        </li>
        }
        @if (Session.SessionName == "User")
        {
            <li class="nav-item px-3 font-italic">
                <NavLink class="nav-link" href="AddForm">
                    <span class="oi oi-plus" aria-hidden="true"></span> Oddaj vlogo
                </NavLink>
            </li>
            <li class="nav-item px-3 font-italic">
                <NavLink class="nav-link" href="AddFormCard">
                    <span class="oi oi-plus" aria-hidden="true"></span> Dodaj vlogo za kartico
                </NavLink>
            </li>
            <li class="nav-item px-3 font-italic">
                <NavLink class="nav-link" href="ViewForm">
                   <span class="oi oi-list-rich" aria-hidden="true"></span> Pregled vlog
                </NavLink>
             </li>
            <li class="nav-item px-3 font-italic">
                <NavLink class="nav-link" href="ViewFormCard">
                    <span class="oi oi-plus" aria-hidden="true"></span> Pregled vlog kartica
                </NavLink>
             </li>     
              <li class="nav-item px-3 font-italic">
                <NavLink class="nav-link" href="inboxpage">
                    <span class="oi oi-plus" aria-hidden="true"></span> Inbox
                </NavLink>
             </li>   
        }
        @if(Session.SessionName != string.Empty)
        {
            <li class="nav-item px-3 font-weight-bold">
            <NavLink class="nav-link" href="LoginPage">
                <span class="oi oi-lock-locked" aria-hidden="true"></span> Prijava
            </NavLink>
        </li>
        }
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
